body {
	font-family: sans-serif;
}

#favtrips {
    margin-top: 12px;
}

#trips,
#favtrips {
  padding: 8px;
}

#trips span {
	float: left;
	margin-right: 4px;
}

#favtrips a,
#trips span a {
	text-decoration: none;
}

#trips a:hover {
	background-color: '#f00'
}

#left {
    display: table-cell;
    min-width: 150px; /* min-width? */
    white-space: nowrap;
    padding: 8px;
}

#right {
    display: table-cell;
    width: 100%;
    vertical-align: top;
    padding: 8px;
}

#left h2 {
    font-size: 1em;
    margin: 0;
}

#map {
	height: 732px;
	width: 100%;
}

.legend {
    line-height: 18px;
    color: #555;
    background: white;
    padding: 8px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
